.background-image {
	background-image: url(https://m.media-amazon.com/images/M/MV5BNmJhOWFiYTYtZmIzYi00OTJiLWFlNGMtMmViNzdiZmQxNjlmXkEyXkFqcGdeQXVyMjUyNDk2ODc@._V1_.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: -1;
}

nav {
	background-color: black;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

li {
	margin: 0 20px;
}

a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  font-size: 15px;
}

a:hover {
	background-color: #ddd;
	color: black;
}

h1 {
  text-align: center;
  position: center;
  margin: auto; 
  padding: 50px;
  color: white;
  padding-top: 500px;
  padding-left: 200px;
  font-size: 70px;


}
